/* 
  About
*/

.about {
  max-width: 100vw;
  margin: 0px 22%;
  position: relative;
  transform: skew(0deg, 0deg);
  /* display: none; */
}

/* input {
    color: transparent;
    text-shadow: 0 0 0 black;
} */

@media (max-width: 720px) {
  .about {
    margin: 0% 0%;
  }
}

.syka {
  margin: 0px 50px;
}

.Userguide {
  position: absolute;
}

.Userguide:hover {
  cursor: pointer;
}

.colorWHITE {
  color: white;
}

.colorPURPLE {
  color: #e517e5;
}

.large {
  font-size: 29px;
}

.PS {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}

.Agreendot {
  width: 14px;
  height: 14px;
  background-color: #4fff00;
  border-radius: 10px;
  display: inline-block;
  margin: 0px 2px;
}

.Areddot {
  width: 14px;
  height: 14px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  display: inline-block;
  margin: 0px 2px;
}

.star {
  font-size: 17px;
  color: rgb(255, 0, 0);
  display: inline-block;
}

.obzach {
  margin: 10px 0px;
}

.grid {
  display: grid;
}

.Dot {
  justify-self: start;
}

.language {
  position: absolute;
  top: -10px;
  right: 0px;
}
