/*_app*/


.nav {
    /* margin: 0px 90px;
  
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255); */

    min-height: 110px;
    padding-right: 10%;
    padding-left: 10%;
}

@media (max-width: 1100px) {

    .nav {
        padding-right: 2%;
        padding-left: 2%;
    }
}


@media (max-width: 1100px) {

    .navigation {
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .wallet {
        display: none;
    }

    .content {
        grid-template-columns: 2fr 2fr;
    }

    .menu {
        /* margin: 5px 15px 5px 0px; */
        margin: 10px 17px;
    }
}

.navigationSmartfon {
    position: fixed;
    bottom: 0px;
    background-color: #131314;
    left: 0px;
    right: 0px;
    height: 50px;
    display: none;
    z-index: 100000000000000;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.prenavigationSmartfon {
    margin-bottom: 30px;
    display: none;
}


@media (max-width: 608px) {
    .navigation {
        display: none;
    }

    .navigationSmartfon {
        display: grid;
    }

    .prenavigationSmartfon {
        display: block;
    }
}

@media (max-width: 610px) {
    .navigation {
        justify-self: start;

    }

    .menu {
        margin: 5px 15px 5px 0px;
    }
}

.menuSmartfon {
    color: #ffffff;
    justify-self: center;
    align-self: center;
}

.content {
    min-height: inherit;
    display: grid;
}

@media (max-width: 4000px) {
    .content {
        grid-template-columns: 2fr 2fr 2fr;
    }
}

@media (max-width: 608px) {
    .content {
        grid-template-columns: 5fr 2fr;
    }
}


.navigation {
    align-self: center;
}


.container {
    display: flex;
    height: inherit;
    align-items: center;
}

.between {
    display: flex;
    justify-content: space-between;
}

.d {
    display: flex;
    width: auto;
}

.otstup {
    padding: 0px 0px 0px 10px;
}

.menu {
    color: rgb(255, 255, 255);
    word-spacing: 20px;
}

.menu:hover {
    color: rgb(180, 173, 37);
}

@media (min-width: 1700px) {
    .menu {
        font-size: 23px;
    }
}



.center {
    display: flex;
    align-items: center;
}

.box {}

.image {
    max-height: 75px;
    min-height: 75px;
    max-width: 280px;
    min-width: 280px;
    justify-self: center;
    align-self: center;
}

.wallet {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 1100px) {
    .wallet {
        justify-content: center;
    }
}

@media (max-width: 900px) {

    .image {
        max-height: 65px;
        min-height: 65px;
        max-width: 200px;
        min-width: 200px;
    }
}