/*
    WalletAlert
*/
.modall {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.545);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
}

.modall.active {
    opacity: 1;
    pointer-events: all;
}



.modallMINT {

    margin-top: 107.8px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    transition: 0.1s;
}

@media (max-width: 486px) {
    .areaMINT {
        width: 486px;
        min-height: calc(100vh + 105px);
    }
}

.modallMINT.active {
    opacity: 1;
    pointer-events: all;
}

.areaMINT {
    min-width: 99.5vw;
    height: calc(100vh - 105px);
    position: absolute;
    left: 0%;
    top: 0%;
    overflow-y: auto;
    background: rgb(149, 11, 150);
    background: radial-gradient(circle, rgba(149, 11, 150, 1) 0%, rgba(0, 0, 0, 1) 78%);
}

.back {
    background-color: #110e0e;
    width: 486px;
    height: 1000vh;
}

.discord {
    position: absolute;
    margin: 20px;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.MINT {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}


.walletalert {
    padding: 0px 10px;
    width: 510px;
    z-index: 10000;
    height: 85vh;
    min-height: 580px;
    max-height: 580px;
    min-width: 510px;
    background: rgb(41, 39, 39);
    background: linear-gradient(35deg, rgba(41, 39, 39, 1) 83%, rgba(187, 20, 195, 1) 97%, rgba(0, 52, 255, 1) 100%);
    /* background: rgb(41, 39, 39);
    background: linear-gradient(41deg, rgba(41, 39, 39, 1) 81%, rgba(109, 12, 161, 1) 88%, rgba(171, 0, 255, 1) 95%); */
    border-radius: 12px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.depositAndWitdrow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 490px;
    height: 90px;
    background-color: rgb(19 20 20);
    border-radius: 12px;
}

.dopInfo {
    width: 27px;
    height: 27px;
    background-color: aqua;
    position: absolute;
    top: 0px;
    opacity: 0;
    right: 0px;
    cursor: pointer;
}

.walletalert::-webkit-scrollbar {
    display: none;
}


@media (max-width: 512px) {
    .walletalert {
        margin: 0px 20px;
    }
}


.addtoken {
    justify-self: end;
}



.decimals {
    width: 100px;
    justify-self: center;
}

.tokeninput {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tokeninput.cut {
    grid-template-columns: 1fr 1fr;

}

.wallettokens {
    margin-top: 7px;
    height: auto;
}

.shablonbalance {
    display: grid;
    height: 60px;
    grid-template-columns: 2fr 7fr 1.3fr;
    border-radius: 12px;
    margin: 10px 0px;
    background-color: rgb(19, 20, 20);
}

.shablonbalanceClicked {
    display: grid;
    height: 60px;
    grid-template-columns: 2fr 7fr 1.3fr;
    border-radius: 12px;
    margin: 10px 0px;
    background: rgb(0, 0, 0);
    background: linear-gradient(10deg, rgba(0, 0, 0, 1) 28%, rgba(130, 49, 135, 1) 75%);
}

.hei {
    max-height: 40px;
    width: 145px;
}

/* OtherPylt */

.areaProm {
    margin-top: 10px;
    width: 490px;
    height: 160px;
    background-color: rgb(19 20 20);
    border-radius: 12px;
}

.NoButtons {
    display: grid;
}

.Promocode {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    max-width: 210px;
    flex-wrap: wrap;
}

.underProm {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.yaxz {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.AutoEnter {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(19 20 20);
    border-radius: 12px;
    display: grid;
    grid-template-rows: 6fr 1fr 2fr;
}

.NoAutoEnter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.DEG180 {
    transform: scale(-1, 1);
}

.arow {
    align-self: center;
    justify-self: center;
}

.arow:hover {
    cursor: pointer;
}

.imageINAutoEnter {
    justify-self: center;
    align-self: center;
}

.ff {
    border-radius: 12px;
}

.areaimageINAutoEnter {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;
}

.PDF {
    align-self: start;
    justify-self: end;
    margin-top: 10px;
    width: 180px;
    height: 100px;
    background-color: rgb(19 20 20);
    border-radius: 12px;
}

.listAutoEnter {
    margin: 0px 10px;
    justify-self: center;
    align-self: center;
    color: rgb(255, 255, 255);
}

.listAutoEnter::-webkit-scrollbar-track {
    display: none;
}

.listAutoEnterA {
    max-width: 230px;
    max-height: 30px;
    display: inline-flex;
    overflow: auto;
}

.listAutoEnterA:hover {
    cursor: default;
}

.buttonAutoEnter {
    justify-self: center;
    align-self: center;
}

.MudebzInfo {
    align-self: start;
    justify-self: end;
    width: 180px;
    height: 190px;
    background-color: rgb(19 20 20);
    border-radius: 12px;
}

.addToken {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -35px;
    width: 490px;
    height: 80px;
    background-color: rgb(19 20 20);
    border-radius: 12px;
}

.PROM {
    display: grid;
    width: inherit;
    height: inherit;
    grid-template-columns: 3fr 4fr;
}

.shouldRevard {
    display: grid;
    font-size: 40px;
    border-left: 4px solid rgb(41 39 39);
    grid-template-rows: 1.4fr 6fr 2fr;
}

.chifra {
    justify-self: center;
    align-self: center;
    color: rgb(255, 234, 0);
}

.rilchifra {
    display: flex;

}



.recive {
    font-size: 14px;
    color: aliceblue;
    justify-self: center;
    align-self: center;
}

.position {
    font-size: 14px;
    color: aliceblue;
    align-self: center;
    justify-self: end;
    padding-right: 10px;
}

.PromButtons {
    display: grid;
    align-items: center;
    justify-content: center;
}



.bothpromset {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
}

.proms {
    display: flex;
    justify-content: space-around;
}

.earnProm {
    margin: 3px 0px;
    align-self: center;
}

.promseted {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.fixsizebutton {
    padding: 10px 0px;
    font-size: 15px;
    width: 73px;
}

.tokenpng {
    border-radius: 100px;
}


.PDF {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.input_min {
    width: 85px;
}

.balanceForToken {
    display: flex;
    font-size: x-large;
    font-weight: 700;
    align-self: center;
}

.tokenImage {
    display: flex;
    justify-content: center;
    align-self: center;
}

.hover {}

.hover:hover {
    cursor: pointer;
}

.balance {
    color: white;
    font-size: x-large;
    border: none;
}

.balancealert {
    color: white;
    font-size: 20px;
    display: none;
    position: absolute;
    padding: 10px;
    top: 0%;
    left: 0%;
    z-index: 3000;
}

.balancealert a {
    color: black;
    text-decoration: none;
    display: block;
}


.balanceForToken:hover .balancealert {
    display: block;
}

.isReliably {
    margin-top: 5px;
}

.invalid {
    position: absolute;
    color: red;
    font-size: 13px;
    left: 22px;
    top: 37px;
}

.depositvalue {
    position: relative;
}

.invalidvalue {
    position: absolute;
    font-size: 13px;
    left: 10px;
    color: red;
}

.trapezoid {
    width: 110px;
    border-bottom: 40px solid #5f2020;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 464px;
    top: 190px;
    transform: rotate(90deg);
}

.rigth {
    transform: rotate(-45deg);
    position: absolute;
    right: 0px;
    top: 0px;
}

/*
    MintNftButtom
*/



.pulse {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;

    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
    border: none;
    color: #0d0e0f;
    font-size: 17px;
}

.pulse:hover {
    cursor: pointer;
}

.pulse.active {
    animation-play-state: paused;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.Mint {
    background: rgb(157, 97, 97);
    background: linear-gradient(10deg, rgba(157, 97, 97, 1) 12%, rgba(130, 49, 135, 1) 35%, rgba(42, 113, 111, 1) 63%, rgba(13, 7, 7, 1) 82%);
}

/* .nftmintbuttonactive:hover {
    cursor: pointer;
} */

/*
    Wallet
*/

.widthmint {
    background: rgb(157, 97, 97);
    background: linear-gradient(10deg, rgba(157, 97, 97, 1) 12%, rgba(130, 49, 135, 1) 35%, rgba(42, 113, 111, 1) 63%, rgba(13, 7, 7, 1) 82%);

}

.size {
    font-size: 16px;
}

.walletconnect {
    position: absolute;
    right: 0%;
    margin-top: 40px;
}

/* .walletconnect:hover {
    cursor: pointer;
} */

/*
    NftsShablon
*/


.nftsShablon {
    /* max-width: 323px;
    min-width: 323px; */
}

.i {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    max-width: 200px;
}

.data {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pad {
    padding: 40px calc(100vw - 99vw);
    position: relative;
}

.inline {
    display: flex;
    height: 20px;
}

.absolute {
    position: absolute;
    top: 5%;
    right: 7%;
}

.pylt {
    max-width: 200px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.inputmessage {
    margin-top: 10px;
    word-break: normal;
    text-align: center;
    min-height: 100px;
    min-width: 200px;
    max-height: 100px;
    max-width: 200px;
    color: rgb(255, 255, 255);
    background-color: #110e0e;
}

.ok {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.bordernft {
    position: relative;
    padding: 10px 10px 0px 10px;
    background-color: rgb(29 28 28);
    border-radius: 10px;
    min-height: 320px;
    max-width: 220px;
    min-width: 220px;
}

.bordernft.ID {
    position: relative;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    min-height: 320px;
    max-width: 220px;
    min-width: 220px;

    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.imageNftShablon {
    display: flex;
    justify-content: center;
    max-width: 200px;
}

@media (max-width: 730px) {
    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .areaNfts {
        margin: 0px;
        min-height: 80vh;
    }
}

@media (max-width: 508px) {
    .nftsShablon {
        margin: 20px 25px;
    }
}



/*
    LobbyShablon
*/

.LobbyShablonActive {
    padding: 1px;
    margin-right: 2.9vw;
    border: 0px solid white;
    border-radius: 19px;
    min-width: 170px;
    height: 150px;
    margin: 0% 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(29 28 28);
}

.LobbyShablon {

    margin: 3% 3%;
    display: grid;
    background-color: rgb(29 28 28);
    border-radius: 19px;
    border: 0px solid white;
    min-width: 200px;
    max-width: 200px;
    min-height: 180px;
    max-height: 180px;
}

/* .LobbyShablon:hover {} */

.LobbyShablon:hover {
    cursor: pointer;
    min-width: 210px;
    max-width: 210px;
    min-height: 190px;
    max-height: 190px;
}

.areaAraund {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    min-width: 250px;
}

.tokenAnd {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.tokeninlobbyshablon {
    margin-top: 10px;
}

.countofplayers {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.depositlobby {
    color: white;
    overflow-x: auto;
    font-size: 16px;
    margin: 0px 12px;
}

.enter {
    height: min-content;
}

.gridcenter {
    justify-self: center;
    align-self: center;
}

/*
  News
*/

.hearder {
    color: rgba(226, 240, 71, 0.895);
    padding: 10px;
    display: grid;
    border-bottom: 3px solid rgb(252, 248, 248);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: rgba(31, 31, 31, 0.26);
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
}

.hearder.alone {
    border-bottom: none;
}

.onenews {
    color: white;
    word-spacing: 20px;
    display: grid;
    background-color: rgb(0 0 0 / 10%);
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    padding: 10px;
    border-bottom: 1px solid white;
}

.onenews.KOSTLb {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.reload {
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-top: 3px solid rgb(252, 248, 248);
    color: white;
}

.nowrap {
    white-space: nowrap;
}

.win {
    background-color: #1fa61dc7;
}

.token {
    border-radius: 100px;
}

.CENTER {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    min-height: 25px;
    min-width: 25px;
}


.white {
    background-color: rgb(81, 1, 85);
    border-radius: 100px;
}

.wraper {
    right: 3%;
    padding: 20px 1% 1% 1%;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 150;
    overflow: hidden;
}

.fff {
    overflow-y: auto;
    max-height: 400px;
}

.dropdown-content {
    border: 2px solid white;
    background-color: #2a2828;
    height: auto;
    border-radius: 12px;
    min-width: 500px;
    margin-right: 5px;
}

.dropdown:hover .wraper {
    display: block;
}

.InfoPopUp {
    position: fixed;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    background: rgb(0, 0, 0);
    top: 86vh;
    border-radius: 12px;
    left: 30px;
    z-index: 1000000;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

.InfoPopUp.active {
    pointer-events: all;
    opacity: 1;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.TracsactionStatus {
    font-size: 30px;
}

.LOADER {
    min-width: inherit;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

.LOADER.active {
    pointer-events: all;
    opacity: 1;
}