/*
    WalletAlert
*/
.modall {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.545);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
}

.modall.active {
    opacity: 1;
    pointer-events: all;
}

.modallMINT {
    margin-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
}

.modallMINT.active {
    opacity: 1;
    pointer-events: all;
}

.areaMINT {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    background-color: #110e0e;
    display: inline-block;
}

.space-around {

    display: flex;
    justify-content: space-around;
}

.MINT {
    padding-top: 20vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: auto;
    height: 100vh;

}


.walletalert {
    padding: 10px;
    width: 450px;
    height: 600px;
    background-color: rgb(115, 115, 115);
    border-radius: 12px;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: white;
    overflow-y: auto;
}

.addtoken {
    position: absolute;
    right: 10px;
}

.wallettokens {
    margin-top: 7px;
    border-color: white;
    border: 1px solid;
    height: 530px;
}

.shablonbalance {}


/*
    MintNftButtom
*/

.nftmint {
    color: white;
    border: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 12px;
    border-color: white;
    background-color: rgb(180, 173, 37);
}

.nftmint:hover {
    cursor: pointer;
}

/*
    Wallet
*/

.walletconnect {
    position: absolute;
    right: 0%;
    margin-top: 40px;
}

.walletconnect:hover {
    cursor: pointer;
}

/*
    NftsShablon
*/

.nftsShablon {
    display: inline-block;
    margin: 20px 20px;
}

.bordernft {
    border: 1px solid white;
    padding: 23px;
}

/*
    LobbyShablon
*/

.LobbyShablon {
    border: 1px solid white;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 23px;
    background-color: rgba(55, 38, 88, 0.542);
}

.tokeninlobbyshablon {
    margin: 10px;
}

.countofplayers {
    padding: 10px;
}

.depositlobby {
    margin: 20px;
}

.enter {
    margin: 20px;
    height: 25px;
}

.con {
    display: flex;
    height: auto;
    justify-content: space-between;
}