/*
    WalletAlert
*/
.modall {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.545);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
}

.modall.active {
    opacity: 1;
    pointer-events: all;

}



.modallMINT {

    margin-top: 107.8px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    transition: 0.1s;
}

@media (max-width: 486px) {
    .areaMINT {
        width: 486px;
        min-height: calc(100vh + 105px);
    }
}

.modallMINT.active {
    opacity: 1;
    pointer-events: all;
}

.areaMINT {
    min-width: 99.5vw;
    height: calc(100vh - 105px);
    position: absolute;
    left: 0%;
    top: 0%;
    overflow-y: auto;
    background: rgb(149, 11, 150);
    background: radial-gradient(circle, rgba(149, 11, 150, 1) 0%, rgba(0, 0, 0, 1) 78%);
}

.back {
    background-color: #110e0e;
    width: 486px;
    height: 1000vh;
}

.discord {
    position: absolute;
    margin: 20px;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.MINT {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}


.walletalert {
    padding: 10px;
    width: 500px;
    height: 600px;
    min-height: 341px;
    background-color: rgb(40, 40, 41);
    border-radius: 12px;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: white;
    overflow-y: auto;
}


@media (max-width: 512px) {
    .walletalert {
        margin: 0px 20px;
    }
}

.networkAlert {
    padding: 10px;
    width: 500px;
    height: 85vh;
    background-color: rgb(255, 0, 0);
    border-radius: 12px;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: white;
    overflow-y: auto;
}

.addtoken {
    justify-self: end;
}



.decimals {
    width: 100px;
    justify-self: center;
}

.tokeninput {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tokeninput.cut {
    grid-template-columns: 1fr 1fr;

}

.wallettokens {
    margin-top: 7px;
    height: auto;
}

.shablonbalance {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.hei {
    max-height: 40px;
    width: 100px;
}

.PROM {
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 10px);
}

.bothpromset {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
}

.proms {
    display: flex;
    justify-content: space-around;
}

.earnProm {
    margin: 3px 0px;
    align-self: center;
}

.promseted {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.fixsizebutton {
    padding: 10px 0px;
    font-size: 15px;
    width: 73px;
}

.tokenpng {
    border-radius: 100px;
}


.PDF {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.input_min {
    width: 85px;
}

.balanceForToken {
    display: flex;
    font-size: x-large;
    font-weight: 700;
    width: 120px;
    justify-content: center;
}

.balance {
    color: white;
    font-size: x-large;
    border: none;
}

.balancealert {
    color: white;
    font-size: 20px;
    display: none;
    position: absolute;
    padding: 10px;
    top: 0%;
    left: 0%;
    z-index: 3000;
}

.balancealert a {
    color: black;
    text-decoration: none;
    display: block;
}


.balanceForToken:hover .balancealert {
    display: block;
}

.isReliably {
    margin-top: 5px;
}

.invalid {
    position: absolute;
    color: red;
    font-size: 13px;
    left: 22px;
    top: 37px;
}

.depositvalue {
    position: relative;
}

.invalidvalue {
    position: absolute;
    font-size: 13px;
    left: 10px;
    color: red;
}

/*
    MintNftButtom
*/

/* .nftmintbuttonactive:hover {
    cursor: pointer;
} */

/*
    Wallet
*/

.size {
    font-size: 16px;
}

.walletconnect {
    position: absolute;
    right: 0%;
    margin-top: 40px;
}

/* .walletconnect:hover {
    cursor: pointer;
} */

/*
    NftsShablon
*/


.nftsShablon {}

.Yes {
    position: absolute;
    top: 189px;
}

.i {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.data {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pad {
    padding: 40px 50px;

}

.inline {
    display: flex;
    height: 20px;
}

.absolute {
    position: absolute;
    top: 3.8%;
    right: 5.5%;
}

.bordernft {
    position: relative;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 323px;
}

@media (max-width: 730px) {
    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .areaNfts {
        margin: 0px;
        min-height: 80vh;
    }
}

@media (max-width: 508px) {
    .nftsShablon {
        margin: 20px 25px;
    }
}

/*
    LobbyShablon
*/

.LobbyShablonActive {
    padding: 1px;
    margin-right: 2.9vw;
    border: 1px solid white;
    border-radius: 19px;
    min-width: 170px;
    height: 150px;
    margin: 0% 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(120, 116, 127, 0.542);
}

.LobbyShablonKOSTLb2 {
    padding: 1px;
    border-radius: 19px;
    border: 1px solid white;
    margin: 3% 3%;
    min-width: 170px;
    max-width: 170px;
    min-height: 150px;
    max-height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(120, 116, 127, 0.542);
}

.tokeninlobbyshablon {
    margin-top: 10px;
}

.countofplayers {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.depositlobby {
    color: white;
    overflow-x: auto;
    max-width: 70px;
    font-size: 15px;
    font-weight: 500;
}

.enter {
    height: min-content;
}

.gridcenter {
    justify-self: center;
    align-self: center;
}

/*
  News
*/

.hearder {
    color: rgba(226, 240, 71, 0.895);
    padding: 10px;
    display: grid;
    border-bottom: 3px solid rgb(252, 248, 248);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: rgba(31, 31, 31, 0.26);
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
}

.hearder.alone {
    border-bottom: none;
}

.onenews {
    color: white;
    word-spacing: 20px;
    display: grid;
    background-color: rgb(0 0 0 / 10%);
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    padding: 10px;
    border-bottom: 1px solid white;
}

.onenews.KOSTLb {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.reload {
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-top: 3px solid rgb(252, 248, 248);
    color: white;
}

.nowrap {
    white-space: nowrap;
}

.win {
    background-color: #1fa61dc7;
}

.token {
    border-radius: 100px;
}

.CENTER {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    min-height: 25px;
    min-width: 25px;
}


.white {
    background-color: rgb(81, 1, 85);
    border-radius: 100px;
}

.wraper {
    right: 3%;
    padding: 20px 1% 1% 1%;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 150;
    overflow: hidden;
}

.fff {
    overflow-y: auto;
    max-height: 400px;
}

.dropdown-content {
    border: 2px solid white;
    background-color: #2a2828;
    height: auto;
    border-radius: 12px;
    min-width: 500px;
    margin-right: 5px;
}

.dropdown:hover .wraper {
    display: block;
}