html,
body {
  padding: 0;
  background: #110e0ef1;
  margin: 0;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-left: 50%;
  margin-top: 100%;
}

* {
  box-sizing: border-box;
}

/*_app*/
.nav {
  border-bottom: 3px solid rgb(255, 255, 255);
  height: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  display: flex;
  height: inherit;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.menu {
  color: rgb(255, 255, 255);
}

.navigation {
  position: absolute;
  word-spacing: 20px;
  left: auto;
}

.image {
  position: absolute;
  left: 47%;
}

.nftmint {
  position: absolute;
  left: 80%;
  margin-top: 40px;
}

.wallet {
  position: absolute;
  right: 100px;
  margin-top: 40px;
}

.walletconnect {
  position: absolute;
  right: 0%;
}

.modall {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.545);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

.modall.active {
  opacity: 1;
  pointer-events: all;
}

.walletalertt {
  width: 200px;
  height: 400px;
  background-color: rgb(125, 21, 21);
  padding: 20px;
  border-radius: 12px;
}

/*Lottery*/
.newnft {
  margin-top: 5%;
  text-align: center;
}

/*Lobby*/
.lobbymenu {}

.newLobby {
  background-color: #1011126d;
  position: relative;
  border-style: solid;
  height: 90px;
  margin-left: 350px;
  margin-right: 350px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40ex;
  color: black;
  margin-bottom: 10px;
}

.createNewLobby {
  text-align: center;
  margin-top: 12px;
  color: #ffffff;
  margin-bottom: 12px;
}

.deposit .countofplayers {
  text-align: end;
}

.deposit.countofplayers:hover {}

/*Marketplace*/
.filter {
  margin-left: 30px;
  margin-top: 30px;
  width: 340px;
  border: 1px solid;
}

.nfts {
  margin-top: 30px;
  border: 1px solid;
  width: 100%;
}