html,
body {
  /*background: #110e0ef1;*/
  padding: 0;


  margin: 0;
  max-width: 99.5vw;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

footer {
  margin-left: 50%;
  margin-top: 100vh;
}

* {
  box-sizing: border-box;
}

.main {
  background: rgb(0, 0, 0);
  background: linear-gradient(168deg, rgba(0, 0, 0, 1) 17%, rgba(166, 104, 131, 1) 52%, rgba(176, 29, 94, 1) 87%);

  overflow-x: hidden;
  min-width: 1528.8px;
}

::-webkit-scrollbar {
  height: .3em;
  width: .4em;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(180, 180, 161, 0.866);
}


.mybutton {
  color: white;
  border: 1px;
  border-style: solid;
  width: fit-content;
  padding: 10px;
  border-radius: 12px;
  border-color: white;
  background-color: rgb(17, 16, 16);
}

.mybutton:hover {
  background-color: rgb(180, 173, 37);
  cursor: pointer;
}

.input {
  color: azure;
  background-color: rgb(17, 16, 16);
  border: 1px;
  border-style: solid;
  border-radius: 12px;
  border-color: white;
  padding: 10px;
}

.input.big {
  width: 65%;
}

/*_app*/


.nav {
  border-bottom: 3px solid rgb(255, 255, 255);
  height: 9%;
  padding-right: 10%;
  padding-left: 10%;
  background: rgb(149, 11, 150);
  background: radial-gradient(circle, rgba(149, 11, 150, 1) 0%, rgba(1, 4, 18, 1) 100%);

}

.container {
  display: flex;
  height: inherit;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.d {
  display: flex;
  width: auto;
}

.otstup {
  padding: 0px 0px 0px 10px;
}

.widthmint {}

.menu {
  color: rgb(255, 255, 255);
}

.menu:hover {
  color: rgb(180, 173, 37);
}

.navigation {
  word-spacing: 20px;
  left: auto;
}

.center {
  display: flex;
  align-items: center;
}

.box {}

.image {}

.wallet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 333px;
}

.wallet:hover {
  cursor: pointer;
}

.nftmintbuttonactive {
  color: white;
  border: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 12px;
  border-color: white;
  background-color: rgb(180, 173, 37);
}



/*Lottery*/
.newnft {
  text-align: center;
  z-index: 1;
}

/*Lobby*/



.new_active_lobbys {
  min-height: 200px;
  height: 15vw;
  display: flex;
  margin: 0px 1vw;
}

.area {
  border: 4px solid #b9b2b2f1;
  border-radius: 10px;
  width: 84%;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow {
  display: flex;
  margin: 0% 1%;
  overflow: auto;
  min-width: 180;
  width: 700px;
}

.arealobbychoose {
  justify-content: space-around;
  display: flex;
}

.newLobby {
  width: 230px;
  padding: 17px;
  border: 4px solid #b9b2b2f1;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.areafilterlobby {
  padding: 1% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FILTER {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid white;
  border-radius: 12px;
  width: 40%;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.arealobbyes {
  min-height: 200px;
  border: 3px solid white;
  border-radius: 12px;
}



.alllobbyes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.I {
  width: 100%;
}


.titel {
  text-align: center;
  margin-top: 12px;
  color: #ffffff;
  margin-bottom: 12px;
}

.choosetoken {
  background-color: #110e0ef1;
  color: white;
  padding: 10px;
  height: fit-content;
}

option {
  background-color: #0d0e0f;
}

.choosecoler {
  color: rgb(255, 255, 255);
}

.UpAndDown {
  color: white;
  display: flex;
  justify-content: space-between;
}

/*тумблер*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.justcolor {
  color: #403e3f;
}

/*
  Marketplace
*/
.marketplace {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 60px;

}



.some-padding {
  padding: 3%;
}