html,
body {
  background: #110e0e;
  padding: 0;
  margin: 0;
  height: auto;
  min-width: 486px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}



footer {
  margin-top: 30px;
  min-width: 486px;
  max-width: 99.6vw;
  height: 10px;
  background-color: #110e0e;
}

* {
  box-sizing: border-box;
}

.main {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: .3em;
  width: .4em;
  display: block;
}

::-webkit-scrollbar-track {
  min-width: 100px;

}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(180, 180, 161, 0.866);
}


.mybutton {
  color: white;
  border: 1px;
  border-style: solid;
  width: fit-content;
  padding: 10px;
  border-radius: 12px;
  border-color: white;
  background-color: rgb(17, 16, 16);
}

.mybutton:hover {
  /* background-color: rgb(180, 173, 37); */
  background-color: rgb(117, 9, 147);

  cursor: pointer;
}

.input {
  color: azure;
  background-color: rgb(17, 16, 16);
  border: 1px;
  border-style: solid;
  border-radius: 12px;
  border-color: white;
  padding: 10px;
}

.input.big {
  width: 300px;
}

.input.small {
  width: 200px;
}

/*_app*/


.nav {
  border-bottom: 3px solid rgb(255, 255, 255);
  min-height: 105px;
  padding-right: 10%;
  padding-left: 10%;
  background: rgb(149, 11, 150);
  background: radial-gradient(circle, rgba(149, 11, 150, 1) 0%, rgba(1, 4, 18, 1) 100%);
}

@media (max-width: 900px) {

  .nav {
    padding-right: 2%;
    padding-left: 2%;
  }
}




@media (max-width: 763px) {

  .navigation {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .menu {
    margin: 5px 15px 5px 0px;
  }
}

.content {
  min-height: inherit;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.MINTnav {}


@media (max-width: 581px) {



  .dropdown {
    display: none;
  }
}


.navigation {
  word-spacing: 20px;
  align-self: center;
}




.container {
  display: flex;
  height: inherit;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.d {
  display: flex;
  width: auto;
}

.otstup {
  padding: 0px 0px 0px 10px;
}

.widthmint {}

.menu {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.menu:hover {
  color: rgb(180, 173, 37);
}



.center {
  display: flex;
  align-items: center;
}

.box {}

.image {
  min-height: 100px;
  min-width: 100px;
  justify-self: center;
  align-self: center;
}

.wallet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}




.nftmintbuttonactive {
  color: white;
  border: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 12px;
  border-color: white;
  background-color: rgb(180, 173, 37);
}



/*Lottery*/
.index {
  min-height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1519px) {
  .index {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .PLUSPLUS {
    display: none;
  }

  .MINUSMINUS {
    display: none;
  }

}

@media (max-width: 920px) {
  .index {
    grid-template-columns: 1fr;
  }

  .PLUS {
    display: none;
  }

}

.newnft {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.tttt {
  border-radius: 12px;
}

.aou {
  align-self: center;
  z-index: 20;
  color: white;
}

.enterNftPlay {
  margin-top: 7%;
  align-self: center;
}

.PLUS {
  justify-self: center;
  opacity: 0.6;
}

.PLUSPLUS {
  justify-self: start;
  opacity: 0.3;
}

.MINUSMINUS {
  justify-self: end;
  opacity: 0.3;
}

.controlautoenter {
  display: flex;
  color: white;
}

/*Lobby*/


.new_active_lobbys {
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 100fr;
  align-items: center;
  margin: 0px 10%;
}

@media (max-width: 608px) {
  .new_active_lobbys {
    align-items: center;
    justify-content: center;
    grid-template-columns: none;
  }

  .newLobby {
    min-width: 370px;
  }

  .area {
    min-width: 370px;
    max-width: 230px;
  }


}


.area {
  margin: 30px 6px 0px 6px;
  border: 4px solid #b9b2b2f1;
  border-radius: 10px;
  align-items: center;
  justify-content: start;
  overflow-x: auto;
  display: inline-flex;
  height: 240px;
}

.alertt {
  display: flex;
}

.g {
  padding-left: 8vw;
  color: white;
}

.overflow {
  display: inline-flex;
  justify-content: flex-start;
}


.newLobby {
  height: 240px;
  margin: 30px 6px 0px 6px;
  width: 230px;
  padding: 17px;
  border: 4px solid #b9b2b2f1;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.areafilterlobby {
  padding: 1% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FILTER {
  margin: 30px 0px;
  min-width: 370px;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid white;
  border-radius: 12px;
  width: 40%;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.arealobbyes {
  min-height: 200px;
}



.alllobbyes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 10%;
}

.I {
  width: 100%;
}


.titel {
  text-align: center;
  margin-top: 12px;
  color: #ffffff;
  margin-bottom: 12px;
}

.choosetoken {
  border-radius: 12px;
  background-color: #110e0ef1;
  color: white;
  padding: 10px;
  height: fit-content;
}

.Loby {
  display: flex;
  justify-content: center;
}

option {
  background-color: #0d0e0f;
}

.choosecoler {
  color: rgb(255, 255, 255);
}

.UpAndDown {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

/*тумблер*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}


/*
  Marketplace
*/

.areaNfts {
  margin: 0px calc(10% - 50px);
  min-height: 80vh
}

.areaFiter {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}

.zx {
  align-self: center;
  justify-self: center;
}


.fiter {
  min-width: 300px;
  padding-top: 30px;
}

.anotherShit {
  min-width: inherit;
  display: flex;
  justify-content: space-between;
}

.BackNext {
  display: flex;
  padding: 12px 40px 0px 40px;
  justify-content: space-around;
}

@media (max-width: 960px) {
  .fiter {
    margin: 4% 2% 0% 2%;
  }
}

.sliderGREEN {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
}

.sliderGREEN:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #4fff00;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.sliderGREEN {
  background-color: #2196F3;
}

input:focus+.sliderGREEN {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.sliderGREEN:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderGREEN.round {
  border-radius: 34px;
}

.sliderGREEN.round:before {
  border-radius: 50%;
}

.reddot {
  width: 17px;
  height: 17px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
}

.greendot {
  width: 17px;
  height: 17px;
  background-color: #4fff00;
  border-radius: 10px;
}




/* 
  About
*/

.about {
  margin: 0px 22%;
}

@media (max-width: 720px) {
  .about {
    margin: 0% 10%;
  }
}

.syka {
  display: flex;
  justify-content: center;
}




.colorWHITE {
  color: white;
}

.colorPURPLE {
  color: #e517e5;
}

.large {
  font-size: 29px;
}

.PS {
  font-size: 12px;
  color: white;
  margin-top: 10px;
}

.Agreendot {
  width: 14px;
  height: 14px;
  background-color: #4fff00;
  border-radius: 10px;
  display: inline-block;
  margin: 0px 2px;
}

.Areddot {
  width: 14px;
  height: 14px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  display: inline-block;
  margin: 0px 2px;
}

.star {
  font-size: 17px;
  color: rgb(255, 0, 0);
  display: inline-block;
}

.obzach {
  margin: 10px 0px;
}