html,
body {
  padding: 0;
  background: #110e0ef1;
  margin: 0;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-left: 50%;
  margin-top: 100%;
}

* {
  box-sizing: border-box;
}

.mybutton {
  color: white;
  border: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 12px;
  border-color: white;
  background-color: rgb(17, 16, 16);
}

.mybutton:hover {
  background-color: rgb(180, 173, 37);
  cursor: pointer;
  border: 1px;
  border-style: solid;
}

.input {
  color: azure;
  background-color: rgb(17, 16, 16);
  border: 1px;
  border-style: solid;
  border-radius: 12px;
  border-color: white;
  padding: 10px;
  width: 240px;
}

/*_app*/
.nav {
  border-bottom: 3px solid rgb(255, 255, 255);
  height: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

.container {
  display: flex;
  height: inherit;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.menu {
  color: rgb(255, 255, 255);
}

.menu:hover {
  color: rgb(180, 173, 37);
}

.navigation {
  position: absolute;
  word-spacing: 20px;
  left: auto;
}

.center {
  display: flex;
  align-items: center;
}

.image {
  position: absolute;
  left: 47%;
}

.wallet {
  position: absolute;
  right: 100px;
}

.wallet:hover {
  cursor: pointer;
}



/*Lottery*/
.newnft {
  margin-top: 5%;
  text-align: center;
}

/*Lobby*/

.newLobby {
  position: relative;
  border-style: solid;
  height: 90px;
  margin-left: 350px;
  margin-right: 350px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 40ex;
  color: white;
  margin-bottom: 10px;
}

.choosetoken {
  width: 40px;
}

.lobbymenu {}


.createNewLobby {
  text-align: center;
  margin-top: 12px;
  color: #ffffff;
  margin-bottom: 12px;
}

/*Marketplace*/
.marketplace {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 60px;

}

.filter {
  width: 340px;
  border: 1px solid;
  border-color: white;
}

.nfts {
  margin-left: 10px;
  border: 1px solid;
  width: 100%;
  border-color: white;

}