html,
body {
  background-image: url('../public/fon/Room5UPMonitor.jpg');
  background-size: cover;
  /* max-width: calc(100vw - 0.4em); */
  height: auto;
  overflow: hidden;
  margin: 0px;
  min-width: 340px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.MAIN_MARGIG {
  padding-bottom: 20px;
}

.ttttt {
  background-color: aliceblue;
  width: 1vw;
  height: 1vw;
  position: absolute;
  top: 68vh;
  left: 95.5vw;
}

@media (max-width: 608px) {
  .MAIN_MARGIG {
    padding-bottom: 110px;
  }
}

.BACKGRAUND {
  background: #110e0e;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 30px;
  min-width: 486px;
  max-width: 99.6vw;
  height: 10px;
  background-color: #110e0e;
}

select {
  text-indent: 4px;
  border: 1px solid white;
  border-radius: 12px;
  background-color: #111010;
  color: white;
  height: 44px;
  /* -webkit-appearance: none; */
}

* {
  /* font-size: 16px; */
  font-weight: 100;
  box-sizing: border-box;
}

@media (max-width: 608px) {
  * {
    font-size: 17px;
  }
}

.main {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  height: 0.3em;
  width: 0.4em;
}

::-webkit-scrollbar-track {
  min-width: 100px;
  /* background-color: #110e0e; */
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(180, 180, 161, 0.866);
}

:root {
  --wigth: 0px;
}

strong {
  font-weight: 500;
}

.mybutton {
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 10px;
  border-radius: 12px;
  background-color: rgb(17, 16, 16);
}

.mybutton:hover {
  cursor: pointer;
  /* background: rgb(0, 0, 0); */
  /* background: linear-gradient(10deg, rgba(0, 0, 0, 1) 28%, rgba(130, 49, 135, 1) 75%); */
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

.input {
  color: azure;
  background-color: rgb(17, 16, 16);
  border-radius: 12px;
  border: 1px solid white;
  padding: 10px;
}

.input.big {
  width: 300px;
}

.input.small {
  width: 200px;
}

.loading {
  display: flex;
  justify-content: start;
  padding-left: 90px;
  align-items: center;
  height: 100px;
}

.InfoPopUp {
  position: fixed;
  max-height: 80px;
  min-width: 80px;
  min-height: 80px;
  background: rgb(0, 0, 0);
  top: 85vh;
  border-radius: 12px;
  left: 30px;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.InfoPopUp.active {
  pointer-events: all;
  opacity: 1;
}

.InfoPopUpinfo {
  border-radius: 12px;
  left: 30px;
  top: 85vh;
  position: fixed;
  width: 80px;
  height: 80px;
  margin-left: 89px;
  background-color: rgb(31, 32, 32);
  z-index: 1003330;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.InfoPopUpinfo.active {
  pointer-events: all;
  opacity: 1;
  animation-name: infoPoPUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@media (max-width: 608px) {
  .InfoPopUp {
    top: 80vh;
    left: 10px;
  }

  .InfoPopUpinfo {
    top: 80vh;
    margin-left: 67px;
  }
}

@keyframes infoPoPUp {
  0% {
    width: 0px;
    color: rgba(255, 255, 255, 0);
  }

  30% {
    width: 220px;
  }

  100% {
    color: rgba(255, 255, 255, 1);
    width: 220px;
  }
}

.dataInInfo {
  width: 220px;
  height: 80px;
  padding: 2px 10px;
  font-size: 15px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.TracsactionStatus {
  font-size: 30px;
}

.LOADER {
  min-width: inherit;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.LOADER.active {
  pointer-events: all;
  opacity: 1;
}

/* 
d {
  color: #a40cc6;
} */
