html,
body {
  background: #110e0ef1;
  padding: 0;
  margin: 0;
  max-width: 99.6vw;
  height: auto;
  min-width: 400px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}


footer {
  margin-left: 50%;
  margin-top: 100vh;
}

* {
  box-sizing: border-box;
}

.main {

  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: .3em;
  width: .4em;
}

::-webkit-scrollbar-track {
  min-width: 100px;
  background-color: #0d0e0f;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(180, 180, 161, 0.866);
}


.mybutton {
  color: white;
  border: 1px;
  border-style: solid;
  width: fit-content;
  padding: 10px;
  border-radius: 12px;
  border-color: white;
  background-color: rgb(17, 16, 16);
}

.mybutton:hover {
  background-color: rgb(180, 173, 37);
  cursor: pointer;
}

.input {
  color: azure;
  background-color: rgb(17, 16, 16);
  border: 1px;
  border-style: solid;
  border-radius: 12px;
  border-color: white;
  padding: 10px;
}

.input.big {
  width: 65%;
}

/*_app*/


.nav {
  border-bottom: 3px solid rgb(255, 255, 255);
  min-height: 105px;
  padding-right: 10%;
  padding-left: 10%;
  background: rgb(149, 11, 150);
  background: radial-gradient(circle, rgba(149, 11, 150, 1) 0%, rgba(1, 4, 18, 1) 100%);
}

@media (max-width: 1050px) {

  .nav {
    padding-right: 4%;
    padding-left: 4%;
  }
}

@media (max-width: 454px) {

  .menu {
    font-size: smaller;

  }
}



@media (max-width: 920px) {

  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-right: 12%;
  }

  .menu {
    padding: 3px 3px;
  }
}

.content {
  min-height: inherit;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.MINTnav {}


@media (max-width: 581px) {

  .content {
    grid-template-columns: 3fr 2fr;
  }

  .image {
    display: none;
  }

  .dropdown {
    display: none;
  }
}


.navigation {
  word-spacing: 20px;
  align-self: center;
  justify-self: flex-start;
}




.container {
  display: flex;
  height: inherit;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.d {
  display: flex;
  width: auto;
}

.otstup {
  padding: 0px 0px 0px 10px;
}

.widthmint {}

.menu {
  color: rgb(255, 255, 255);
}

.menu:hover {
  color: rgb(180, 173, 37);
}



.center {
  display: flex;
  align-items: center;
}

.box {}

.image {
  min-height: 100px;
  min-width: 100px;
  justify-self: center;
  align-self: center;
}

.wallet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}




.nftmintbuttonactive {
  color: white;
  border: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 12px;
  border-color: white;
  background-color: rgb(180, 173, 37);
}



/*Lottery*/
.index {
  min-height: 80vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1519px) {
  .index {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .PLUSPLUS {
    display: none;
  }

  .MINUSMINUS {
    display: none;
  }

}

@media (max-width: 920px) {
  .index {
    grid-template-columns: 1fr;
  }

  .PLUS {
    display: none;
  }

}

.newnft {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.aou {
  align-self: center;
  z-index: 20;
  color: white;
}

.enterNftPlay {
  margin-top: 7%;
  align-self: center;
}

.PLUS {
  justify-self: center;
  opacity: 0.6;
}

.PLUSPLUS {
  justify-self: start;
  opacity: 0.3;
}

.MINUSMINUS {
  justify-self: end;
  opacity: 0.3;
}

/*Lobby*/



.new_active_lobbys {
  min-height: 200px;
  height: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 1vw;
}

@media (max-width: 768px) {
  .new_active_lobbys {
    flex-direction: column;
  }
}

.area {
  min-height: 201.2px;
  max-height: 201.2px;
  border: 4px solid #b9b2b2f1;
  border-radius: 10px;
  width: 84%;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow {
  display: flex;
  margin: 0% 1%;
  overflow: auto;
  min-width: 180;
  width: 700px;
}

.arealobbychoose {
  justify-content: space-around;
  display: flex;
}

.newLobby {
  min-width: 222.15px;
  width: 230px;
  padding: 17px;
  border: 4px solid #b9b2b2f1;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.areafilterlobby {
  padding: 1% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FILTER {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid white;
  border-radius: 12px;
  width: 40%;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.arealobbyes {
  min-height: 200px;
  border: 3px solid white;
  border-radius: 12px;
}



.alllobbyes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.I {
  width: 100%;
}


.titel {
  text-align: center;
  margin-top: 12px;
  color: #ffffff;
  margin-bottom: 12px;
}

.choosetoken {
  border-radius: 12px;
  background-color: #110e0ef1;
  color: white;
  padding: 10px;
  height: fit-content;
}

option {
  background-color: #0d0e0f;
}

.choosecoler {
  color: rgb(255, 255, 255);
}

.UpAndDown {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

/*тумблер*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}


/*
  Marketplace
*/

.areaNfts {
  margin: 0px calc(10% - 50px);
  min-height: 80vh
}

.areaFiter {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}

.zx {
  align-self: center;
  justify-self: center;
}


.fiter {
  min-width: 300px;
  padding-top: 30px;
}

.anotherShit {
  min-width: inherit;
  display: flex;
  justify-content: space-between;
}

.BackNext {
  display: flex;
  padding: 12px 40px 0px 40px;
  justify-content: space-around;
}

@media (max-width: 960px) {
  .fiter {
    margin: 4% 2% 0% 2%;
  }
}

.sliderGREEN {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
}

.sliderGREEN:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #4fff00;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.sliderGREEN {
  background-color: #2196F3;
}

input:focus+.sliderGREEN {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.sliderGREEN:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderGREEN.round {
  border-radius: 34px;
}

.sliderGREEN.round:before {
  border-radius: 50%;
}

.reddot {
  width: 14px;
  height: 14px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
}

.greendot {
  width: 14px;
  height: 14px;
  background-color: #4fff00;
  border-radius: 10px;
}

.i {
  display: flex;
  align-items: center;
  justify-content: space-around;
}