/*
    LobbyShablon
*/

.areaAraund {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    min-width: 250px;
}


.LobbyShablon {
    display: grid;
    background-color: rgb(29 28 28);
    border-radius: 19px;
    min-width: 180px;
    max-width: 180px;
    min-height: 170px;
    max-height: 170px;
    border: 3px solid rgb(29 28 28);
    margin: 0px 30px;
}

.LobbyShablon:hover {
    border-color: antiquewhite;
    cursor: pointer;
}


.shadows:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}




@media (max-width: 608px) {
    .areaAraund {
        max-width: 210px;
        max-height: 210px;
        min-height: 210px;
        min-width: 210px;
    }

    .LobbyShablon {
        margin: 0px 70px;
    }
}





.tokenAnd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 5px;
}





.tokeninlobbyshablon {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
}

.countofplayers {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.predepositlobby {
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 1px solid antiquewhite;
    margin: 0px 12px;
}

.depositlobby {
    color: white;
    overflow-x: auto;
    font-size: 16px;
    margin: 0px 12px;
}

.enter {
    height: min-content;
}

.gridcenter {
    justify-self: center;
    align-self: center;
}

.countOfPlayersImage {
    position: absolute;
    top: -5.5px;
    left: 3px;
}


/*** <--- CIRCLE STYLES ---> ***/
.circle {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #232323;
    overflow: hidden;
    /* color: aqua; */
}

.countOfPlayersImagetru {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 40px;
    height: 40px;
}