/*
    LobbyShablon
*/

.areaAraund {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    min-height: 250px;
    min-width: 250px;
}

.LobbyShablonActive {
    padding: 1px;
    margin-right: 2.9vw;
    border: 0px solid white;
    border-radius: 19px;
    min-width: 170px;
    height: 150px;
    margin: 0% 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(29 28 28);
}

.LobbyShablon {
    display: grid;
    background-color: rgb(29 28 28);
    border-radius: 19px;
    border: 0px solid white;
    min-width: 180px;
    max-width: 180px;
    min-height: 170px;
    max-height: 170px;
    border: 2px solid rgb(29 28 28);
    margin: 0px 30px;
}

.LobbyShablon:hover {
    border-color: antiquewhite;
    cursor: pointer;
}



@media (max-width: 608px) {
    .areaAraund {
        max-width: 210px;
        max-height: 210px;
        min-height: 210px;
        min-width: 210px;
    }

    .LobbyShablon {
        margin: 0px 70px;
    }
}





.tokenAnd {
    display: grid;
    grid-template-columns: 1fr 1fr;
}





.tokeninlobbyshablon {
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
}

.countofplayers {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.predepositlobby {
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 1px solid antiquewhite;
    margin: 0px 12px;
}

.depositlobby {
    color: white;
    overflow-x: auto;
    font-size: 16px;
    margin: 0px 12px;
}

.enter {
    height: min-content;
}

.gridcenter {
    justify-self: center;
    align-self: center;
}